<div class="row-fluid">
  <div class="well span3 offset1">
    <div>
      <legend>合格店家</legend>
      <ul class="nav nav-list" ng-repeat="restaurant in restaurants">
        <li>
          <!-- <a href="#/show-restaurants/{{restaurant.id}}">{{restaurant.name}}</a> -->
          <a ng-click="getInfo(restaurant.id)" href="">{{restaurant.name}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="well span7 row-fluid">
    <div ng-include="'partials/partial-restaurant.html'"></div>
  </div>
</div>